.app {
  text-align: center; 
}

.search-bar {
  margin-top: 2%;
  width: 300px;
  height: 25px;
  padding-left: 10px;
}

.list {
  width: 300px;
  margin: 20px auto;
  padding: 10px;
  line-height: 25px;

  background: #272727;
  
  text-align: left;
}

.list-item {
  list-style-type: none;
}