.realtime-search-app {
  text-align: center; 
}

.realtime-search-app h1 {
  margin-bottom: 20px;
}

.search-bar {
  width: 300px;
  height: 25px;
  padding-left: 10px;
}

.list {
  width: 300px;
  margin: 10px auto;
  padding: 10px;
  line-height: 25px;

  background: var(--panel);
  
  text-align: left;
}

.list-item {
  list-style-type: none;
  color: var(--text);
}